### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628

### Target ProductID (board select, max 23 ASCII symbols)
### ИСПОЛЬЗУЕМ ID ОТ 840N v5, так как он есть в системе и совместим по железу
CONFIG_FIRMWARE_PRODUCT_ID="TL_WR840N-V5_RU"

############################################################
### Linux kernel configuration
############################################################

### Enable MT7628 CPU sleep mode (downclock to 100MHz on idle)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz
### 4.0 = MT7628 v4.0.1.3
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0

### Enable IPv6 support (ОТКЛЮЧЕНО для экономии места)
CONFIG_FIRMWARE_ENABLE_IPV6=n

### Include IPSet utility and kernel modules. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include Shortcut Forward Engine
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

### Include compressed memory support (ZRAM) - ВАЖНО для 32MB RAM
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

############################################################
### Userspace configuration
############################################################

### Языки (Только английский для экономии)
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Include dropbear SSH. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y

### Make the dropbear symmetrical ciphers and hashes faster. ~0.06MB
#CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### Include NFQWS (Zapret)
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Curl отключен
#CONFIG_FIRMWARE_INCLUDE_CURL=y

### Отключаем всё лишнее
#CONFIG_FIRMWARE_INCLUDE_XFRM=y
#CONFIG_FIRMWARE_INCLUDE_QOS=y
#CONFIG_FIRMWARE_INCLUDE_IMQ=y
#CONFIG_FIRMWARE_INCLUDE_IFB=y
#CONFIG_FIRMWARE_INCLUDE_NFSC=y
#CONFIG_FIRMWARE_INCLUDE_CIFS=y
#CONFIG_FIRMWARE_INCLUDE_USBIP=y
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y
#CONFIG_FIRMWARE_INCLUDE_SOCAT=y
#CONFIG_FIRMWARE_INCLUDE_NDISC6_RDISC6=y
#CONFIG_FIRMWARE_INCLUDE_WINS=y
#CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=y
#CONFIG_FIRMWARE_INCLUDE_TESTPARM=y
#CONFIG_FIRMWARE_INCLUDE_RPL2TP=y
#CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
#CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
#CONFIG_FIRMWARE_INCLUDE_HTTPS=y
#CONFIG_FIRMWARE_INCLUDE_SFTP=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSH=y
#CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
#CONFIG_FIRMWARE_INCLUDE_SSWAN=y
#CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
#CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
#CONFIG_FIRMWARE_INCLUDE_XUPNPD=y
#CONFIG_FIRMWARE_INCLUDE_TOR=y
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIP=y
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIPV6=y
#CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y
#CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y
#CONFIG_FIRMWARE_INCLUDE_STUBBY=y
#CONFIG_FIRMWARE_INCLUDE_DOH=y
#CONFIG_FIRMWARE_INCLUDE_WPAD=y
#CONFIG_FIRMWARE_INCLUDE_ADB=y
#CONFIG_FIRMWARE_INCLUDE_LUA=y
#CONFIG_FIRMWARE_INCLUDE_EOIP=y
#CONFIG_FIRMWARE_INCLUDE_VLMCSD=y
#CONFIG_FIRMWARE_INCLUDE_IPERF3=y

### Reduce trx image size (Обязательно)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

